/* 모바일 화면에서의 스타일 */
@media(max-width: 1000px) {
  @font-face{
    src:url("fonts/HeirofLightRegular.ttf");
    font-family : "HeirofLightRegular";
  }

  @font-face{
    src:url("fonts/HeirofLightBold.ttf");
    font-family : "HeirofLightBold";
  }

  @font-face{
    src:url("fonts/ZiTiQuanWeiJunHei-W1-2.ttf");
    font-family : "ZiTiQuanWeiJunHei-W1-2";
  }
  
  @font-face{
    src:url("fonts/ZiTiQuanWeiJunHei-W3-2.ttf");
    font-family : "ZiTiQuanWeiJunHei-W3-2";
  }

  @font-face{
    src:url("fonts/인천교육자람.ttf");
    font-family : "인천교육자람";
  }

  body {
    overflow-y: auto; /* 스크롤바 숨기기 */
    position: relative;
    background-image: url('image/backscreen.jpg');
    background-size: 100% 100%; /* 원본 이미지를 화면에 맞게 확장 */
    background-repeat: no-repeat; /* 이미지 반복 없애기 */
    background-attachment: fixed; /* 스크롤 시 배경 이미지 고정 */
  }

  .img_responsive {
    width: 80%; /* 화면 너비에 맞게 이미지 너비 설정 */
    height: 80%; /* 이미지 높이 자동으로 조정 */
  }

  .text-container {
    text-align: center;
    padding: 0% 2%;
    font-family : "HeirofLightRegular";
    color: black;
  }

  .start-text-container {
    text-align: center;
    padding: 0% 2%;
    font-family : "HeirofLightBold";
    color: black;
  }

  #prev-button {
    display: block;
    position: fixed;
    bottom: 2%; /* 하단에 배치 */
    left: 31%; /* 좌측에 배치 */
    transform: none; /* 변환 해제 */
    width: 15%; /* 너비를 늘림 */
    height: 5%; /* 높이 자동으로 조정 */
    pointer-events: auto;
    color: rgb(21, 39, 69);
    background-color: rgb(224, 200, 152);
    font-family : "HeirofLightBold";
    font-size: 15px; /* 원하는 크기로 조절하세요 */
    white-space: nowrap;
  }

  #next-button {
    display: block;
    position: fixed;
    bottom: 2%; /* 하단에 배치 */
    left: 51%; /* 좌측에 배치 */
    transform: none; /* 변환 해제 */
    width: 15%; /* 너비를 늘림 */
    height: 5%; /* 높이 자동으로 조정 */
    pointer-events: auto;
    color: rgb(21, 39, 69);
    background-color: rgb(224, 200, 152);
    font-family : "HeirofLightBold";
    font-size: 15px; /* 원하는 크기로 조절하세요 */
    white-space: nowrap;
  }

  #start-button {
    display: block;
    position: fixed;
    left: 50%; /* 좌측에 배치 */
    transform: translateX(-50%); /* 변환 해제 */
    width: 50%; /* 너비를 늘림 */
    height: 7%; /* 높이 자동으로 조정 */
    pointer-events: auto;
    margin-top: 10%;
    color: black;
    background-color: white;
    font-family : "HeirofLightBold";
    font-size: 20px; /* 원하는 크기로 조절하세요 */
    border-radius: 20px;
    border: none;
    box-shadow: 8px 8px 12px 2px rgba(0, 0, 0, 0.8);
    white-space: nowrap;
  }

  #answer-button {
    display: block;
    position: fixed;
    left: 50%; /* 좌측에 배치 */
    transform: translateX(-50%); /* 변환 해제 */
    width: 50%; /* 너비를 늘림 */
    height: 5%; /* 높이 자동으로 조정 */
    margin-top: 5%;
    pointer-events: auto;
    color: white;
    background-color: black;
    font-family : "HeirofLightRegular";
    font-size: 15px; /* 원하는 크기로 조절하세요 */
  }

  #hint-button {
    display: block;
    position: fixed;
    top: 3%;
    left: 6%;
    width: 10%; /* 너비를 늘림 */
    height: 5%; /* 높이 자동으로 조정 */
    pointer-events: auto;
    color: white;
    background-color: black;
    font-family : "HeirofLightRegular";
    font-size: 15px; /* 원하는 크기로 조절하세요 */
  }

  .text-center {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .input-box {
    width: 75%; /* 너비 조정 */
    margin-top: 7%;
    color: black;
    font-family : "HeirofLightRegular";
  }

  .content {
    padding: 0 10px;
  }

  .red-text {
    color: rgb(176, 23, 23);
    font-size: 130%;
  }

  .darkred-text {
    color: rgb(121, 35, 47);
    font-size: 130%;
  }

  .blue-text {
    color: rgb(29, 32, 134);
    font-size: 130%;
  }

  .hanja {
    font-family: ZiTiQuanWeiJunHei-W1-2;
  }

  .hanjabold {
    font-family: ZiTiQuanWeiJunHei-W3-2;
  }

  /* 팝업 스타일 */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  font-family : "HeirofLightBold";
}

.popup-content {
  background-image: url('image/backscreen.jpg');
  background-size: 100% 100%; /* 원본 이미지를 화면에 맞게 확장 */
  background-repeat: no-repeat; /* 이미지 반복 없애기 */
  width: 300px; /* 원하는 너비로 설정하세요 */
  height: 200px; /* 원하는 높이로 설정하세요 */
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family : "HeirofLightBold";
}

.close-button {
  position: fixed;
  top: 0%;
  right: 5%;
  font-size: 24px;
  cursor: pointer;
  font-family : "HeirofLightBold";
}

}
